<p>Szerkesztés</p>

<form>

  <div class="form-group">
    <label for="nameinput">Activity</label>
    <input class="form-control" type="text" name="nameinput" id="nameinput" placeholder="Enter Activity" [(ngModel)]="adat.title" >
  </div>

  <div class="form-group">
    <label for="taglineinput">Price</label>
    <input class="form-control" type="number" name="taglineinput" id="taglineinput" placeholder="Enter Price" [(ngModel)]="adat.salePrice" >
  </div>
  <div class="form-group">
    <label for="abvinput">Type</label>
    <input class="form-control" type="text" name="abvinput" id="abvinput" placeholder="Enter the type" [(ngModel)]="adat.normalPrice"  >
  </div>
  <div class="form-group">
    <label for="ibuinput">Accessibility</label>
    <input class="form-control" type="number" name="ibuinput" id="ibuinput" placeholder="Type Accessibility" [(ngModel)]="adat.storeID" >
  </div>


  <button class="btn btn-info" type="submit" (click)="save()" routerLink="/list">Submit</button>
</form>
